.home {
  &__title {
    font-size: 1.5rem;
  }

  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-top: 80px;

    img {
      width: 13%;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
      cursor: pointer;

      transition: transform 0.3s ease-in-out;
    }

    img:hover {
      transform: translateY(-25px);
    }
  }

  &__title {
    font-family: "Nanum Myeongjo", serif;
    text-align: center;
    margin-top: 120px;
    font-size: 1.3rem;
  }
}
