@import "../../assets/styles/font.scss";

.CardList {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  // height: calc(100vh - 110px);
  height: calc(100vh - 110px);

  &__image {
    display: flex;
    justify-content: center;
    gap: 100px;

    img {
      width: 16%;
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
      cursor: pointer;
      transition: transform 0.3s ease-in-out;
    }

    img:hover {
      transform: translateY(-25px);
    }
  }

  &__title {
    font-family: "Nanum Myeongjo", serif;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 0px;
    font-size: $font-size-100;
  }
}

.Loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 110px);
  margin: 0 20px;
  animation: fadeIn 1.5s forwards;

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  img {
    width: 3%;
  }
  p {
    font-size: $font-size-100;
    font-weight: 600;
    font-family: "Nanum Myeongjo", serif;
  }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .CardList {
    &__image {
      gap: 90px;

      img {
        width: 14%;
      }
    }

    &__title {
      margin-top: 70px;
      font-size: $font-size-200;
    }
  }

  .Loading {
    img {
      width: 4.5%;
    }
    p {
      font-size: $font-size-200;
    }
  }
}

@media all and (max-width: 767px) {
  .CardList {
    &__image {
      gap: 25px;

      img {
        width: 26%;
      }
    }

    &__title {
      margin: 50px 10px 0 10px;
      font-size: $font-size-300;
    }
  }

  .Loading {
    img {
      width: 9%;
    }
    p {
      font-size: $font-size-300;
    }
  }
}
