.home {
  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-top: 80px;

    img {
      width: 13%;
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
      cursor: pointer;
      transition: transform 0.3s ease-in-out;
    }

    img:hover {
      transform: translateY(-25px);
    }
  }

  &__title {
    font-family: "Nanum Myeongjo", serif;
    text-align: center;
    margin-top: 85px;
    margin-bottom: 50px;
    font-size: 1.3rem;
  }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .home {
    &__image {
      gap: 90px;
      margin-top: 60px;

      img {
        width: 15%;
      }
    }

    &__title {
      margin-top: 70px;
      font-size: 1.1rem;
    }
  }
}

@media all and (max-width: 767px) {
  .home {
    &__image {
      gap: 25px;
      margin-top: 40px;

      img {
        width: 26%;
      }
    }

    &__title {
      margin-top: 50px;
      font-size: 0.9rem;
    }
  }
}
