@font-face {
  font-family: "Song Myung", serif;
  src: url("https://fonts.googleapis.com/css2?family=Song+Myung&display=swap");
}

html,
body {
  margin: 0;
  width: 100%;
}

body * {
  font-family: "Song Myung", serif;
}
